.InfoPerfilContratanteContainer{
    margin-top: var(--bodyMarginTop);
    margin-left: 30%;
    margin-bottom: 10%;

    height: 100%;
}

.InfoPerfilContratanteContainer h3{
    font-size: x-large;
    margin-bottom: 2%;
}

.InfoPerfilContratanteContainer h4{
    margin-bottom: 0;
}

.InfoPerfilContratanteContainer input{
    border: 1px solid black;
    background-color: var(--grey);

    margin-bottom: 2%;
    margin-right: -22%;

    height: 30px;
    width: 50%;
}

.FormularioPerfilContratante{}

.FormularioBancarioContratante{
    margin-top: 5%;
}

.FormularioBancarioContratante img{
    width: 20px;
}

.Checkbox{
    margin-left: -22%;
}