.MapaSite{
    width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: space-between;
    
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: 10%;
    
    background: var(--grey);
}

.MapaSite ul{
    list-style-type: none;
}

.MapaSite ul li{
    margin-top: 10%;
}

.Servicos {
    width: 20%;
}

.Institucional {
    width: 20%;
}

.Social {
    width: 20%;
}

.SocialMedia img{
    cursor: not-allowed;
}

.Download img {
    width: 60%;
}

.Direitos{
    text-align: center;
}

footer{
    background: var(--pink);
}

.Download {
    width: 20%;
}