.FormaPagamentoContainer{
    font-family: 'Aldrich',sans-serif;
    margin: 2%;
    margin-left: 50px;
}

.FormaPagamentoContainer h1{
    font-size: 35px;
    margin-left: -30%;
    margin-bottom: 3%;
}

.OpcaoBoleto{
    margin-top: 4%;
    margin-left: 2%;
}

.OpcaoCartao{
    margin-top: -1%;
    margin-left: 2%;
}