.LoginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 600px;
    margin-left: 10%;
    background-color: var(--pink);
}


.Formulario div{
    margin-bottom: 10%;
    width: 100%;
}

.Formulario h4{
    margin-bottom: 2%;
}


.Formulario img{
    width: 20px;
}

.Formulario input{
    width: 100%;
    margin-left: 5%;
}


.Centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub-cont {
    position: absolute;
    left: 65%;
    top: 0;
    width: 90px;
    height: 600px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
}
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
}
.img__text h2 {
    margin-left: 10px;
    font-weight: normal;
    color: var(--white);
    margin-top: 70%;
}
.img__text p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--white);
}
.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}
.img__text.m--in {
    transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}


.ButtonLinkSquare {
    color: var(--black);
    background: var(--light-blue);
    padding: 20px 80px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
    border-radius: 6px;
}

.botaoImg{
    color: var(--white);
    text-decoration: none;
}