.LoginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 620px;
    background-color: var(--pink);
    margin-left: 35%;
}

.UserIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
}

.UserIcon img{
    width: 50%;
}


.Formulario div{
    margin-bottom: 10%;
    width: 100%;
}

.Formulario h4{
    margin-bottom: 2%;
}


.Formulario img{
    width: 20px;
}

.Formulario input{
    width: 100%;
    margin-left: 5%;
}


.Centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}

