.PagamentoCartaoConteiner{
    font-family: 'Aldrich',sans-serif;
    
    margin: 6%;
}

.PagamentoCartaoContent{
    margin-top: -50px;
    margin-left: 450px
}

.PagamentoCartaoContent h1{
    font-weight: 400;
    margin-top: 20px;
    font-size: 31px;
}

.PagamentoCartaoContent h3{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-bottom: 590px;
    margin-left: -800px;
}

.PagamentoCartaoContent h4 {
    font-weight: 400;
    margin-left: -490px;
    font-size: 25px;
    margin-top: -562px;
}

.Cartoes{
    width: 300px;
    margin-left: -480px;
    margin-top: -15px;
}

.Dados{
    margin-top: -600px;
}

.Dados h1{
    margin-right: 85px;
}

.ButtonLinkSquarePagamento{
    background-color: var(--pink);
    text-decoration:none;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    color: var(--white);
    text-align: center;
    padding: 15px 15px;
    margin: 10px;
    margin-left: 25%;
}

