.TermosConteiner{
    top: 0;
    height: 100vh;
    background: var(--dark-grey);
}

.logo{
    width: 20%;
    margin-top: 2%;
    margin-left: 40%;
}

.TermosConteiner h1{
    font-size: 20px;
    margin-top: 4%;
    color: var(--black);
    text-align: center;
}

.TermosConteiner h2{
    max-width: 60%;
    font-size: 15px;
    margin-left: 15%;
    margin-top: 5%;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    color: var(--black);
}

.botao_termo{
    background-color: var(--pink);
    text-decoration:none;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
     color: var(--white);
     text-align: center;
     padding: 5px 15px;
     margin: 10px;
     margin-left: 30%;
}

.botao{
    background-color: var(--white);
    text-decoration:none;
     border-radius: 3px;
     color: var(--black);
     border: 1px solid black;
     text-align: center;
     padding: 5px 15px;
     width: 80px;
     margin: 10px;
}

