.Logo{
    max-width: 140px;
}

.Menu {
    width: 100vw;
    height: 94px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
  
    background: var(--pink);
  }

  .ButtonLink {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
  }

  .ButtonLinkSquare{
      color: var(--black);
      background: var(--white);
      border: 1px solid var(--black);
      box-sizing: border-box;
      cursor: pointer;
      padding: 16px 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      outline: none;
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
      transition: opacity .3s;
  }

  .container {
    position: absolute;
    margin: auto;
    top: -47%;
    left: 75%;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: var(--pink);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
    cursor: pointer;
}
.container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}
.container input {
    font-family: 'Aldrich';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: var(--pink);
    color: white;
    text-shadow: 0 0 10px var(--pink);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 var(--pink), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.container input:hover {
    cursor: pointer;
}
.container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.container input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.clientes{
    width: 900px;
    height: 190px;
    background-color: rgb(240, 233, 232);
    margin-left: 5%;
    margin-top: 10%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)

}

.imgPaula{
    width: 140px;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 50%;
}

.DashboardPrestadorContainer p{
    font-size: 18px;
    margin-left: 7.5%;
}
.DashboardPrestadorContainer ul{
    font-size: 15px;
    margin-left: 25%;
    margin-top: -14.5%;
    list-style: none;
}

.estrela{
    width: 20px;
}

.containerClassificacao{
    margin-left: 80%;
    margin-top: -4%;
}

.DashboardPrestadorContainer h2{
    font-size: 14px;
    margin-left: 70%;
    margin-top: -10%;
}

.DashboardPrestadorContainer h1{
    font-size: 10px;
    width: 190px;
    margin-left: 72%;
    margin-top: 2%;
}

.iconeBaba{
    width: 50px;
    margin-left: 74%;
    margin-top: 2%;
}

.imgClarice{
    width: 140px;
    height: 140px;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 80%;
}

.imgPedro{
    width: 140px;
    height: 140px;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 80%;
}

  