.HomeContainer{
    background-color: #EB5E7F;
}

.HomeContent{
    margin-top: var(--bodyMarginTop);
}

.Apresentacao {
    height: 100%;
    width: 100%;
}

.Apresentacao div{
    float: left;
    width: 50%;

    margin-right: 10px;
    margin-left: 5%;
}

.Apresentacao div h2{
    margin-top: 10%;
    font-size: xx-large;
    margin-left: 1%;
    color: var(--white);
}

.Apresentacao div p{
    font-weight: 300;
    line-height: 3.0;
    color: var(--white);
}

.Apresentacao img{
    position: relative;
    width: 22%;
    margin-top: 5%;
    margin-left: 10%;
}

.Dicas{
    width: 100%;
    margin-top: 6%;
}

.Dicas h2{
    text-align: center;
}

.Dicas div{
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: space-between;
}

.Dicas div img{
    height: 250px;
}

.Chamada{
    width: 100%;
    margin-top: 6%;
}

.Chamada div{
    float: left;
    width: 50%;

    margin-top: 5%;
    margin-right: 10px;
    margin-left: 5%;
}

.Chamada div p{
    font-weight: 300;
    line-height: 3.0;
}

.Chamada img{
    position: relative;
    width: 40%;
}

.Equipe{
    width: 100%;

    margin-top: 10%;
    margin-bottom: 6%;
}

.Equipe h2{
    text-align: center;
    margin-bottom: 6%;
}

.Integrantes{
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: space-between;
}

.CardIntegrante{
    width: 200px;
    border: 1px solid black;
}

.Integrante h4{
    text-align: center;

    margin-top: 5%;
}

.Integrante img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.FotoIntegrante{
    display: flex;
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.SocialMedia{
    width: 200px;

    display: flex;
    justify-content: space-around;
}

.SocialIcon{
    width: 35px;
    height: 35px;

    margin-top: 5%;
}

.TiposServicos{
    width: 100%;

    margin-top: 6%;
    margin-bottom: 6%;
}

.TiposServicos h2{
    margin-bottom: 6%;
    color: var(--black);
}

.Carrossel {
    display: flex;
    justify-content: space-around;

    margin-left: 5%;
    margin-right: 5%;
}

.Card{
    width: 300px;
    text-align: center;
}

.Card img{
    width: 300px;
}


.square {
    position: relative;
    margin: 0 10px;
    width: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 130%;
    width: 55%;
    height: 190%;
    border: 2px solid rgb(255, 255, 255);
    border-radius:41% 59% 66% 34% / 42% 48% 52% 58%;
    transition: 0.5s;
}


.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 130%;
    width: 55%;
    height: 190%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;

}


.content {
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}


.bloco01{
position: absolute;
width: 350px;
height: 270px;
left: 90px;
background: #7AB6DD;
}


.bloco02{
position: absolute;
width: 350px;
height: 270px;
left: 500px;
background: #7AB6DD;
}


.bloco03{
position: absolute;
width: 350px;
height: 270px;
left: 900px;
background: #7AB6DD;
}

.blobs01{
    border: 2px solid #fff;
    border-radius: 60%;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: -3cm;
    border-style:dotted;
}

.blobs02{
    border: 2px solid #fff;
    border-radius: 60%;
    width: 70%;
    height: 90%;
    margin-left: 18%;
    margin-top: -3cm;
    border-style:dotted;
}

.blobs03{
    border: 2px solid #fff;
    border-radius: 60%;
    width: 70%;
    height: 90%;
    margin-left: 18%;
    margin-top: -3cm;
    border-style:dotted;
}
