.CadastroInfoBancariaPrestadorContainer{
    margin-top: var(--bodyMarginTop);
    margin-left: 5%;
    margin-bottom: 10%;
    height: 100%;
}

.CadastroInfoBancariaPrestadorContainer h2{
    color: var(--black);
    font-size: xx-large;

    margin-left: 30%;
}

.CadastroInfoBancariaPrestadorContainer h3{
    font-size: x-large;
    margin-bottom: 2%;
}

.CadastroInfoBancariaPrestadorContainer h4{
    margin-bottom: 0;
}

.CadastroInfoBancariaPrestadorContainer input{
    border: 1px solid black;
    background-color: var(--grey);

    margin-bottom: 2%;
    margin-right: -22%;

    height: 30px;
    width: 50%;
}

.text_titulo{
    color: var(--white);
}

.subTitulo{
    color: var(--white);
    margin-left: 30%;
}

.inputAgencia{
    margin-left: 2%;
    width: 10%;
    background-color:  var(--white);
    color: rgb(194, 194, 194);
    padding: 12px 15px;
    margin: 8px 0;
}

.tituloAg{
    color: var(--white);
    margin: 4px;
    margin-left: 3%;
}

.pagamento{
    margin: 40px;
}

.inputRadio{
    display: block;
}

.progressbar-wrapper {
  background: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.progressbar li {
  left: 10%;
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.progressbar li:before {
  width: 60px;
  height: 60px;
  content: "";
  line-height: 60px;
  border: 2px solid var(--pink);
  display: block;
  text-align: center;
  margin: 0 auto 3px auto;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.progressbar li:after {
   width: 100%;
   height: 2px;
   content: '';
   position: absolute;
   background-color: #000000;
   top: 30px;
   left: -50%;
   z-index: 0;
}
.progressbar li:first-child:after {
   content: none;
}

.progressbar li.active {
  color: var(--pink);
  font-weight: bold;  
}
.progressbar li.active:before {
  border-color: #d15392;
  background: var(--pink);
}
.progressbar li.active + li:after {
  background-color: #d15392;
}

.progressbar li.active:before {
  background: #d15392  url(../../assets/img/icons/cadastro.png) no-repeat center center;
  background-size: 80%;
}
.progressbar li::before {
  background: #fff url(../../assets/img/icons/cadastro.png) no-repeat center center;
  background-size: 80%;
}

.progressbar .li02.active:before {
  background: #d15392  url(../../assets/img/icons/baba.png) no-repeat center center;
  background-size: 80%;
}
.progressbar .li02::before {
  background: #d15392 url(../../assets/img/icons/baba.png) no-repeat center center;
  background-size: 80%;
}

.progressbar .li03.active:before {
  background: #d15392  url(../../assets/img/icons/transferir.png) no-repeat center center;
  background-size: 80%;
}
.progressbar .li03::before {
  background: #ffffff url(../../assets/img/icons/transferir.png) no-repeat center center;
  background-size: 80%;
}

.progressbar .li04.active:before {
  background: #d15392  url(../../assets/img/icons/banco.png) no-repeat center center;
  background-size: 80%;
}
.progressbar .li04::before {
  background: #fff url(../../assets/img/icons/banco.png) no-repeat center center;
  background-size: 80%;
}




