

h1{
    font-family: 'Aldrich',sans-serif;
    color: var(--black);
    font-size: 25px;
    text-align: center;
}
 h2{
    font-family: 'Aldrich',sans-serif;
    color: var(--black);
    margin-left: 45%;
    font-size: 18px;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid  var(--black);
    box-sizing: border-box;
    display: block;
    margin-left: 30%;
  }

  input[type=submit] {
    width: 40%;
    background-color:  var(--black);
    color: rgb(194, 194, 194);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: block;
  }
  
  input[type=submit]:hover {
    background-color: var(--black);
  }
  
  .titulo{
      color: var(--black);
      margin-left: 30%;
  }

  .form{
      margin-top: 5%;
  }

  .botaoContinuar{
    background-color: var(--pink);
    padding: 15px;
    width: 18%;
    margin: 8%;
    margin-left: 28%;
    font-size: 18px;
    color: var(--white);
    margin-top: 3%;
}

.botaoRevisar{
    background-color: #3D81E8;
    padding: 15px;
    width: 18%;
    color: var(--white);
    font-size: 18px;
}

ol.progress[data-steps="2"] li {
    width: 49%;
  }
  ol.progress[data-steps="3"] li {
    width: 33%;
  }
  ol.progress[data-steps="4"] li {
    width: 24%;
  }
  ol.progress[data-steps="5"] li {
    width: 19%;
  }
  ol.progress[data-steps="6"] li {
    width: 16%;
  }
  ol.progress[data-steps="7"] li {
    width: 14%;
  }
  ol.progress[data-steps="8"] li {
    width: 12%;
  }
  ol.progress[data-steps="9"] li {
    width: 11%;
  }
  .progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
  }
  .progress li {
    float: left;
    text-align: center;
    position: relative;
  }
  .progress .name {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    color: black;
    opacity: 0.3;
  }
  .progress .step {
    color: black;
    border: 3px solid var(--pink);
    background-color: var(--pink);
    border-radius: 50%;
    line-height: 1.2;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    z-index: 0;
  }
  .progress .step span {
    opacity: 0.3;
  }
  .progress .active .name,
  .progress .active .step span {
    opacity: 1;
  }
  .progress .step:before {
    content: "";
    display: block;
    background-color: var(--pink);
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    left: 0;
    z-index: -1;
  }
  .progress .step:after {
    content: "";
    display: block;
    background-color:  var(--pink);
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 0.6em;
    right: 0;
    z-index: -1;
  }
  .progress li:first-of-type .step:before {
    display: none;
  }
  .progress li:last-of-type .step:after {
    display: none;
  }
  .progress .done .step,
  .progress .done .step:before,
  .progress .done .step:after,
  .progress .active .step,
  .progress .active .step:before {
    background-color: var(--pink);
  }
  .progress .done .step,
  .progress .active .step {
    border: 3px solid var(--pink);
  }
