@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Aldrich',sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

:root {
    /* Variaveis de cores utilizadas no site */
    --primary: #29668E;
    --black: #000;
    --white: #FFF;
    --grey: #C4C4C4;
    --salmon: #FFD196;
    --purple: #9399E3;
    --blue: #3D81E8;
    --dark-button: #3B5998;
    --light-button: #3D81E8;
    --blue-facebook: #3B5998;
    --attention-button: #FF4133;

    /* Variaveis de tamanhos padroes utilizados */
    --marginTopButton: 5%;
    --bodyMarginTop: 94px;
}