@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Aldrich',sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

:root {
    /* Variaveis de cores utilizadas no site */
    --primary: #29668E;
    --black: #000;
    --white: #FFF;
    --grey: #C4C4C4;
    --dark-grey: #F2F5F6;
    --salmon: #FFD196;
    --purple: #9399E3;
    --pink: #EB5E7F;
    --blue: #3D81E8;
    --light-blue: #7AB6DD;
    --dark-button: #3B5998;
    --blue-facebook: #3B5998;
    --attention-button: #FF4133;

    /* Variaveis de tamanhos padroes utilizados */
    --marginTopButton: 5%;
    --bodyMarginTop: 94px;
    --tamanhoMinimo: 110px;
}

@media (max-width: 1000px) {
  /* Area reservada para estilizar o Menu */
  .Menu{
    display: none;
  }

  .MenuDropdown{
    display: flex;
  }
  /* Fim da area reservada para estilizar o Menu */

  /* Area reservada para estilizar a pagina Home */
  .Apresentacao {
    margin-bottom: 25%;
  }

  .Chamada{
    margin-top: 10%;
    margin-bottom: 25%;
  }

  .Chamada div p{
    line-height: 2.5;
  }
  /* Fim da area reservada para estilizar a pagina Home */

  /* Area reservada para estilizar o Footer */
  .Download img {
    width: 100%;
}
  /* Fim da area reservada para estilizar o Footer */
}